@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;

    // Helps fonts on OSX looks more consistent with other systems
    // Isn't currently in button styles due to performance concerns
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
  margin: 0;
}
main {
}

.app-spinner {
    margin: 0 auto;
}
.app-toolbar-filler {
    flex: 1 1;
}
[align-right] {
    text-align: right;
}
[align-center] {
    text-align: center;
}
